@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
//@font-face
//
//  font-family: 'HelveticaNeue'
//  src: url('/font/HelveticaNeue-Thin.otf')
//  font-weight: 300
//  font-style: normal
//@font-face
//  font-family: 'HelveticaNeue'
//  src: url('/font/HelveticaNeue-Light.otf')
//  font-weight: 400
//  font-style: normal
//@font-face
//  font-family: 'HelveticaNeue'
//  src: url('/font/HelveticaNeue-Medium.otf')
//  font-weight: 500
//  font-style: normal
//
//@font-face
//  font-family: 'HelveticaNeue'
//  src: url('/font/HelveticaNeue-Bold.otf')
//  font-weight: 600
//  font-style: normal
//
//.work-sans-font
//  font-family: 'HelveticaNeue'
//  //font-family: "Work Sans", sans-serif
//  font-optical-sizing: auto
//  font-style: normal
//
//.inter-sans-font
//  font-family: 'HelveticaNeue'
//  //font-family: "Inter", sans-serif
//  font-optical-sizing: auto
//  font-style: normal


body
  font-family: "Manrope", sans-serif
  font-optical-sizing: auto
  font-weight: 400
  font-size: 16px
  font-style: normal
  font-variation-settings: "wdth" 100
  background-color: #f6f6f6
  color: #2C2C2C
  //letter-spacing: -0.03rem

::-webkit-scrollbar
  width: 5px
  height: 5px

::-webkit-scrollbar-track
  background: #f1f1f1
  border-radius: 500px

::-webkit-scrollbar-thumb
  background: #bcbcbc
  border-radius: 500px

::-webkit-scrollbar-thumb:hover
  background: #bcbcbc

.p-panel
  border: none !important
  &-header
    border: none !important
    align-items: flex-start
  &-content
    padding: 0 30px 30px 30px !important
    ul
      list-style: disc
      padding-left: 20px !important
      &
        li
          font-size: 18px !important
          &::marker
            color: #B71D31
            font-size: 18px

.p-dialog
  padding: 0 !important
  border: none !important
  &-content
    padding: 0 !important
.news-content
  &.dot-white
    li
      &::marker
        color: white

  p
    margin-bottom: 20px
  ul
    list-style: disc
    padding-left: 20px
    margin-bottom: 20px
    &
      li
        font-size: 18px
        &::marker
          color: #B71D31
          font-size: 18px


button
  &:disabled
    opacity: 0.8

@media screen and (max-width: 990px)
  .svg
    svg
      width: 70% !important
      height: auto !important